version: "3.9"

services:
  api:
    build:
      context: ./api
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - DB_HOST=db
      - DB_NAME=examdb
    depends_on:
      - db
    networks:
      - backend

  web:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./web:/usr/share/nginx/html:ro
    depends_on:
      - api
    networks:
      - frontend
      - backend

  db:
    image: mongo:6.0
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=examen123
      - MONGO_INITDB_DATABASE=examdb
    volumes:
      - db-data:/data/db
    networks:
      - backend
    restart: unless-stopped

  mongo-express:
    image: mongo-express:1.0.2-20
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=admin
      - ME_CONFIG_MONGODB_ADMINPASSWORD=examen123
      - ME_CONFIG_MONGODB_SERVER=db
    depends_on:
      - db
    networks:
      - backend

networks:
  frontend:
  backend:

volumes:
  db-data:
